spring:
  main:
    allow-circular-references: true
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/blockbetdb?currentSchema=dev
    password: postgres
  jpa:
    properties:
      hibernate:
        default_schema: dev
  flyway:
    schemas: dev
    url: jdbc:postgresql://localhost:5432/blockbetdb
    user: postgres
    password: postgres
  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: never
    properties:
      org:
        quartz:
          scheduler:
            instanceName: blockbetQuartzScheduler
            instanceId: AUTO
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 5
          jobStore:
            driverDelegateClass: org.quartz.impl.jdbcjobstore.PostgreSQLDelegate
            dataSource: blockbetdb


security:
  jwt:
    secretKey: "superSecretKeyNoOneCanGuess"

blockchain:
  network:
    url: "http://localhost:8302"
  mainAccount:
    address: "0x4f1809cf76a8946d615cb546271cae3ea36328ed"
    privateKey: "0xbe4b83a3bff4fd9ec8b060e68fab18a2c0f78ac3943865931dcb73e6303dc48c"

aws:
  general:
    region: "ap-southeast-1"
  credentials:
    accessKey: ${AWS_ACCESS_KEY}
    secretKey: ${AWS_SECRET_KEY}

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %level - %logger - %msg%n"